<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyphenate.easeui">
<application>
    <!-- 显示下载大图页面 -->
    <activity
            android:name=".ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    <activity
            android:name="com.hyphenate.chatview.chatuidemo.CallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    <activity
            android:name="com.hyphenate.chatview.chatuidemo.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    <activity
            android:name="com.hyphenate.chatview.chatuidemo.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    <activity
            android:name="com.hyphenate.chatview.chatuidemo.VideoCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    <activity
            android:name="com.hyphenate.chatview.chatuidemo.VoiceCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
    <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
</application>

</manifest>
